@import 'src/assets/scss/variables';

.listAddForm {
	position: absolute;
	z-index: 10;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: #00000030;

	&-content {
		position: fixed;
		top: 200px;
		left: 50%;
		transform: translateX(-50%);
		background: $colorWhite;
		width: 500px;
		z-index: 100;
		padding: 20px;
		border-radius: 10px;
	}

	&-row {
		margin-bottom: 20px;
	}

	&-label {
		margin-bottom: 5px;
	}

	&-buttons {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-column-gap: 10px;
	}
}
